:root {
    --main-bg-color: #ffffff;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #ffffff;
}
body{
    scrollbar-width: none;
    overflow: hidden;

}
.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    margin-left: 5px;
    background-color: rgb(250, 250, 250)
}

#sidebar-wrapper {
    min-height: 50vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1px;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-block-end: 5px;
        margin-left: 0;

        border-radius: 20px;
        padding: 0.5rem;
        box-sizing: border-box;
        box-shadow: .46875rem 0 2.1875rem rgba(196, 178, 174, 0.03), .9375rem 0 1.40625rem rgba(175, 161, 158, 0.03), .25rem 0 .53125rem rgba(224, 217, 215, 0.05), .125rem 0 .1875rem rgba(206, 174, 168, 0.03);
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.box
{
    width: 100%;
    overflow: auto;
    height: 70vh;
}
.box .table{
    width: 150%;
}

.modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1001;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */

        }

        /* Modal Content/Box */
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 100px auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }


        /* Image grid */
        .image-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
        }

        /* Images */
        .image-grid img {
            width: 100%;
            height: auto;
        }
.modal-backdrop
{
    display: none !important;
}

.modalBtn{
    border: 1px solid #009d63;
    background-color: #009d63;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    transition: .3s;
}

.modalBtn:hover{
    background: none;
    color: #009d63;

}


.desc-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition:.4s ;
    transform: scale(0);
}
.show-desc{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.desc-box .desc-contant{
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    width: 60%;
    /* overflow: hidden; */
    
}
.desc-box .desc-contant .close {
    position: absolute;
    top: -50px;
    right: -50px;
    padding: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;

}


.desc-box .desc-contant .close i{
    font-size: 20px;
    color: #009d63;
    display: flex;
    transition: .4s;

}


.desc-box .desc-contant .close:hover i{
    transform: rotate(90deg);
}